
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by aRYN</p>
    <a href="https://www.linkedin.com/in/aryan-more-417497216/">LinkedIn</a>
    <a href="https://twitter.com/aRYNMore2110">Twitter</a>
  </div>
</div>
</body>
</html>
